<div id="page-container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="font-size: 18px;">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addPost">Add Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/friends">Friend-Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/friends/posts">Friends-Posts</a>
      </li>
    </ul>
    <ul>
      <li class="navbar-nav">
        <a class="nav-link ml-auto p-2" href="/logout">Logout</a>
      </li>
    </ul>

  </nav>

</div>


{{#if notes.length}}

{{#each notes}}
<div class="shadow card text-center w-75 offset-1 mb-3" style="border: 3px solid #ccc;">
  <div class="card-header" style="background-color: #337ab7;">
    <div class="d-flex justify-content-between">
      <div class="" style="color: #fff;font-size: 18px;margin-top: 0.5%;">{{this.name}}</div>
      <div class="" style="color: #fff;font-size: 18px;margin-top: 0.5%;">{{this.title}}</div>
      <div class="" style="color: #fff;font-size: 18px;">On {{this.note_createdAt}}</div>

    </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{this.content}}</p>
    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="p-2">

        {{#each this.tags}}
        <span>#{{this}}</span>

        {{/each}}
      </div>
      <div class="ml-auto p-2">
        {{!-- <button id="showComment" style="font-size:11px;" type="button" onClick="" class="btn btn-primary">
            <span class="glyphicon glyphicon-comment"> Leave a Comment</span>
            Leave a Comment
          </button> --}}
        {{!-- <button id="hideComment" style="font-size:11px;" type="button" onClick="" class="btn btn-primary">
                        
                        Hide Comment
                    </button> --}}
        <button style="font-size:11px;" type="button" class="btn btn-danger">Delete</button>

      </div>
    </div>
  </div>
  <div class="card-footer" style="background-color: white;">
    <div id={{@index}}>
      {{#each this.comments}}
      <div class="d-flex" style="background-color: #cccccc73;margin-bottom: 0.5%;border-radius: 11px;">
        <div class="p-2" style="text-transform: lowercase;color: #0062cc;">{{this.name}}</div>
        <div class="p-2" style="font-family: sans-serif;">{{this.description}}</div>
        <div class="ml-auto p-2">On {{this.commented_at}}</div>
      </div>

      {{/each}}
    </div>
    <div class="input-group">
      <input style="background-color: white;" id={{this._id}} name={{this._id}} class="form-control"
        placeholder="Add a comment" type="text">
      <span class="input-group-addon">
        <a onclick="add_comment(this, {{this._id}},{{this.userID}}, {{@index}})" data-toggle="tooltip"
          title="Add Comment" style="cursor: pointer;"><i class="fa fa-edit"></i></a>
      </span>
    </div>
  </div>
</div>
{{/each}}


{{else}}
<p class="not-found">We're sorry, but no Notes were found for {{name}}.</p>
{{/if}}

<script src="js/home.js"></script>